# ssh_config(5) man page.

Host 10.244.*
	User ansibleuser
	ProxyCommand ssh -q -A ansibleuser@{{ pub_instance_ips['bastion'] }} nc -w 300 %h %p
  StrictHostKeyChecking no


Host {{ pub_instance_ips['bastion'] }}
  Hostname {{ pub_instance_ips['bastion'] }}
  StrictHostKeyChecking no
  ForwardAgent yes
  User ansibleuser
  IdentityFile ~/.ssh/id_rsa
  ControlMaster auto
  ControlPath ~/.ssh/ansible-%%r@%%h:%%p
  ControlPersist 5m    